h1{
	text-align: center;
	font-family:cursive;
	font-size: 120px;
	margin-top: 20px;
	letter-spacing: 10px;
	text-transform: lowercase;
	text-shadow: 10px 20px 20px gray,
							10px 20px 20px red; /*Xaxis Yaxis Blur Color*/ 
}
